extends layout

block content
    h1= title   
    ul.list-group
        each article, i in articles
            li.list-group-item
                a(href="/articles/"+article._id)= article.title
                small #{article.created_at.getDate()}/#{article.created_at.getMonth()}/#{article.created_at.getFullYear()} - #{article.created_at.getHours()}:#{article.created_at.getMinutes()}:#{article.created_at.getSeconds()} 
                small by #{article.username}
